@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo*/
h1,
h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 25px;
    text-transform: capitalize;
}

/* Navigation links*/

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav-menu, #logo {
    line-height: 60px;
}

#nav-menu {
    float: right;
    list-style: none;
    display: flex;
}

#nav-menu li {
    margin-right: 25px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    color: #B4DFC5;
}

.active {
    color: #B4DFC5;
}

/*hero image cover text and CTA*/


#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    background: url(../images/hero-image-1.jpeg);
    width: 100%;
}

/*cover text and CTA*/

#cover-text, #cover-text h2 {
    color: #3a3a3a;
}

#cover-text {
    font-size: 120%;
    font-family: 'Raleway', sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 4px;

    width: 350px;
    height: 200px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(180, 223, 197, 0.5);
    border-radius: 2px;

    bottom: 20px;
    left: 10px;
    
    position: absolute;
}
#cover-text h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta-button {
    /* display: flex; */
    text-decoration: none;
    border: 2px solid #44AF69;
    border-color: #44AF69;
    background-color: #44AF69;
    border-radius: 4px;

    font-size: 120%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    font-weight: 600;
    color: #fff;
    
    width: 350px;
    height: 20px;
    
    padding: 12px;
    /* padding-left: 10px; */
    
    bottom: 100px;
    left: 10px;  
    
    position: relative;
}

.cta-button:hover {
    color: #B4DFC5;
}