@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    height: 100vh;
}

/*Give the website a max-width for desktop*/
.main-container {
    width: 1200px;
    margin: 0 auto;
}

/*headings and logo*/

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    loat: left;
    font-size: 200%;
}